@font-face{
  font-family:"Alright Sans LTV";
   src: url("./webfonts/alright-sans-ltv-regular/2845461b-a976-4fe2-b0c5-624efc78805d-3.woff") format("woff"),
      url("./webfonts/alright-sans-ltv-regular/2845461b-a976-4fe2-b0c5-624efc78805d-5.woff2") format("woff2")
}

@font-face{
  font-family: "Alright Sans LTV Bold";
  src: url("./webfonts/alright-sans-ltv-bold/99c5df9c-344e-4a66-b917-e8854e06ff97-3.woff") format("woff"),
      url("./webfonts/alright-sans-ltv-bold/99c5df9c-344e-4a66-b917-e8854e06ff97-5.woff2") format("woff2")
}
